---
interface Props {
  text?: string;
  href?: string;
}

const { text = "Button", intent = "primary", href } = Astro.props;
---

<a href={href}>
  <button
    ><p>{text}</p>
    <img src="/assets/arrow-right.svg" alt="arrow right" />
  </button>
</a>

<style>
  a {
    text-decoration: none;
  }
  button {
    padding: 0.5rem 0;
    font-size: var(--font-size-base);
    background: none;
    text-transform: uppercase;
    text-align: left;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    position: relative;
  }
  button p {
    width: max-content;
  }
  button img {
    height: 22px;
    margin-left: 0.5rem;
  }
  button::after {
    content: "";
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: 2px;
    background: var(--orange-600);
    bottom: 0px;
    position: relative;
    transition: all 300ms var(--ease);
  }

  button:hover::after {
    transform: scaleX(1.25);
  }
</style>
