---
interface Props {
  text?: string;
  intent?: "primary" | "secondary";
  href?: string;
}

const colors = {
  primary: "var(--orange-600)",
  secondary: "#fafafa",
};

const { text = "Button", intent = "primary", href } = Astro.props;
---

<a href={href}>
  <button
    style={{
      background: colors[intent],
      color: intent == "primary" ? "white" : "black",
    }}>{text}</button
  >
</a>

<style>
  button {
    padding: 0.5rem 2rem;
    font-size: var(--font-size-base);
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  }
</style>
