<header>
  <section>
    <h1>VALNETTEN<span>.</span>NL</h1>
  </section>
  <nav>
    <a class="link-underline" href="/"><button>Home</button></a>
    <a class="link-underline" href="/randbeveiliging"
      ><button>Randbeveiliging</button>
    </a>
    <a class="link-underline" href="/diensten">
      <button>Diensten</button>
    </a>
    <a class="link-underline" href="/contact">
      <button>Contact</button>
    </a>
  </nav>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    position: sticky;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: white;
    color: black;
    z-index: 30;
    gap: 2rem;
    top: 0;
    padding: 0 3rem;
  }

  header section {
    padding: 1rem 0;
  }

  header section h1 {
    font-size: var(--font-size-base);
    font-weight: 600;
  }

  header section h1 span {
    color: var(--orange-600);
    font-size: 2rem;
  }

  nav {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
  }
  nav button {
    height: max-content;
    padding: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    top: 10px;
    height: 100%;
    font-weight: 500;
    transition: background 200ms var(--ease);
    position: relative;
    outline: none;
    border: none;
    background: none;
  }

  nav button::after {
    content: "";
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: 2px;
    background: var(--orange-600);
    bottom: 0px;
    position: relative;
    transition: all 300ms var(--ease);
    font-size: var(--font-size-base);
  }

  nav button:hover::after {
    transform: scaleX(1);
  }

  a {
    text-decoration: none;
  }

  a button {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
  }

  @media (max-width: 940px) {
    nav {
      display: none;
    }
  }
</style>
