---
export let showMobileNavigation = false;
---

<header>
  <section>
    <h1>VALNETTEN<span>.</span>NL</h1>
  </section>
  <nav style={`--show-mobile: ${showMobileNavigation}`}>
    <a class="link-underline" href="/"><button><span>Home</span></button></a>
    <a class="link-underline" href="/randbeveiliging"
      ><button><span> Randbeveiliging</span></button>
    </a>
    <a class="link-underline" href="/diensten">
      <button><span> Diensten</span></button>
    </a>
    <a class="link-underline" href="/contact">
      <button><span> Contact</span></button>
    </a>
  </nav>
  <img class="menu-icon" src="/assets/menu-icon.svg" alt="menu" />
</header>

<script>
  document.querySelector(".menu-icon")?.addEventListener("click", (e) => {
    // showMobileNavigation = true;
  });
</script>

<style>
  header {
    width: 100%;
    display: flex;
    position: sticky;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    z-index: 30;
    gap: 2rem;
    top: 0;
    padding: 0.5rem 3rem;
  }

  header section h1 {
    font-size: var(--font-size-base);
    font-weight: 600;
  }

  header section h1 span {
    color: var(--orange-600);
    font-size: 2rem;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
  }
  nav button {
    height: max-content;
    padding: 1rem;
    cursor: pointer;
    height: 100%;
    font-weight: 500;
    position: relative;
    outline: none;
    border: none;
    background: none;
  }

  nav span::after {
    content: "";
    width: calc(100% - 2rem);
    transform: scaleX(0);
    transform-origin: left;
    height: 2px;
    background: var(--orange-600);
    bottom: 0.8rem;
    left: 1rem;
    position: absolute;
    transition: all 300ms var(--ease);
    font-size: var(--font-size-base);
  }

  nav button:hover span::after {
    transform: scaleX(1);
  }

  a {
    text-decoration: none;
  }

  a button {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
  }

  .menu-icon {
    height: 1.5rem;
    display: none;
    cursor: pointer;
  }

  @media (max-width: 940px) {
    nav {
      display: none;
    }
    .menu-icon {
      display: block;
    }
  }
</style>
