<section class="trefwoorden-wrapper">
    <div class="card">
        <h4></h4>
    </div>
    <div class="card">
        <h4></h4>
    </div>
    <div class="card">
        <h4></h4>
    </div>
    <div class="card">
        <h4></h4>
    </div>
</section>

<style>
    .trefwoorden-wrapper {

    }
</style>