---
import { generateImage } from "astro-eleventy-img";

import Navigation from "../components/Navigation.astro";
import Content from "../content/home.mdx";
import "../styles/globals.css";
import Head from "../components/Head.astro";

const background = generateImage("src/assets/background.jpg", {
  widths: [1000],
  formats: ["webp", "avif"],
});

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head {...frontmatter} />
  <body>
    <Navigation />
    <main>
      <div class="background-wrapper">
        <img src="/assets/images/k-PiUAKw4J-1000.avif" alt="background image" />
      </div>
      <div class="slot">
        <slot />
      </div>
    </main>
    <section id="content">
      <Content />
    </section>
    <style is:global>
      header {
        color: white;
      }
      header nav ul a {
        color: white;
      }
    </style>
    <style>
      .slot {
        position: relative;
        z-index: 20;
      }
      main,
      section {
        padding: 1rem 3rem;
        white-space: pre-line;
      }

      main {
        z-index: 20;
        color: white;
        height: calc(100% - 4rem);
      }

      .background-wrapper {
        position: absolute;
        inset: 0;
        z-index: 10;
        width: 100vw;
        height: calc(100vh - 2rem);
        overflow: hidden;
        filter: grayscale(0.5);
      }

      .background-wrapper img {
        min-width: 100%;
        min-height: 100%;
        position: relative;
        z-index: 4;
      }

      .background-wrapper::before {
        content: "";
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
        background: rgb(0, 0, 0);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.8) 13%,
          rgba(0, 0, 0, 0.7) 23%,
          rgba(0, 0, 0, 0.7) 80%,
          rgba(0, 0, 0, 1) 100%
        );
      }
    </style>
  </body>
</html>
