---
import Navigation from "../components/Navigation";
import Content from "../content/home.mdx";
import "../styles/globals.css";
import Head from "../components/Head.astro";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="nl">
  <Head {...frontmatter} />
  <body class="min-h-screen">
    <Navigation client:load />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <slot />
    </main>
    <div class="bg-gray-50 border-t border-gray-200">
      <section id="content" class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-16 prose">
        <Content />
      </section>
    </div>
  </body>
</html>
