---
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/globals.css";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head {...frontmatter} />
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <style>
      main {
        padding: 1rem 3rem;
        white-space: pre-line;
      }
    </style>
  </body>
</html>
