---
import { generateImage } from "astro-eleventy-img";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation";
import "../styles/globals.css";

const { frontmatter } = Astro.props;
let img;

if (frontmatter.image)
  img = generateImage(frontmatter.image, {
    widths: [1000],
    formats: ["avif"],
  });

const imgSrc = frontmatter.image ? img.avif[0].url : "";
---

<!DOCTYPE html>
<html lang="en">
  <Head {...frontmatter} />
  <body>
    <Navigation client:load />
    <main>
      <section>
        <img src={imgSrc} alt="banner image" />
      </section>
      <article>
        <h1>{frontmatter.title.toUpperCase()}</h1>
        <slot />
      </article>
    </main>
    <style>
      main {
        margin-top: -1.2rem;
        padding: 0 3rem;
        white-space: pre-line;
      }

      main section {
        width: 100vw;
        position: relative;
        overflow: hidden;
        height: 30rem;
        left: -3rem;
      }

      @media (max-width: 560px) {
        main {
          padding: 0 1rem;
        }
        main section {
          left: -1rem;
          height: 20rem;
        }
      }

      main article {
        max-width: 1000px;
        margin: 0 auto;
      }

      main section::after {
        width: 100vw;
        content: "";
        background: black;
        position: absolute;
        overflow: hidden;
        height: 30rem;
        top: 0;
        opacity: 0.55;
      }
      main section img {
        min-width: 100%;
        position: absolute;
        inset: 0;
      }
    </style>
  </body>
</html>
